.header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-top: 19px;
    font-family: 'Roboto', sans-serif;
}

.header_border-bottom-color_white {
    border-bottom: 1px solid #fff;
}

.header_border-bottom-color_gray {
    border-bottom: 1px solid #D1D2D6;
}

.header__logo {
    height: 24px;
    width: 200px;
    padding-left: 104px;
}

.header__right-column {
    padding-right: 104px;
    display: flex;
    gap: 42px;
    align-items: center;
    height: 100%;
}

.header__home-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    background-color: transparent;
    border-radius: 0px;
    height: 95%;
    max-width: 68px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.25s ease-in-out;
    display: flex;
    align-items: center;
    margin-top: 3px;
    text-decoration: none;
}

.header__home-btn:hover {
    color: rgba(187, 187, 187, 0.5);
}

.header__saved-article:hover {
    color: rgba(187, 187, 187, 0.5);
}

.header__home-btn_border-color_white {
    border-bottom: 3px solid #fff;
}

.header__saved-article {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    transition: 0.25s ease-in-out;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 178px;
    text-decoration: none;
}

.header__profile {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 25px;
    padding: 12px 19px;
    background-color: transparent;
    transition: 0.25s ease-in-out;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header__profile:hover {
    border-color: rgba(187, 187, 187, 0.5);
}

.header__saved-article_border-bottom-color_black {
    border-bottom: 3px solid #000;
    margin-top: 6px;
}

.header__profile_border-color_white {
    border: 1px solid #fff;
}

.header__profile_border-color_black {
    border: 1px solid #000;
}

.header__home-btn_color_white {
    color: #fff;
}

.header__home-btn_color_black {
    color: #000;
}

.header__saved-article_color_white {
    color: #fff;
}

.header__saved-article_color_black {
    color: #1A1B22;
}   

.header__profile_color_white {
    color: #fff;
}

.header__profile_color_black {
    color: #1A1B22;
} 

.header__signin_color_white {
    color: #fff;
}

.header__signin_color_black {
    color: #1A1B22;
}

.header__signin {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid #fff;
    height: 48px;
    width: 176px;
    border-radius: 25px;
    transition: 0.25s ease-in;
    cursor: pointer;
}

.header__signin:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 892px) {
    .header__right-column {
        padding-right: 10px;
    }
}

@media screen and (max-width: 790px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: 110px;
    }

    .header__logo {
        padding-left: 0px;
    }

    .header__right-column {
        padding-right: 10px;
    }
}

@media screen and (max-width: 720px) {
    .header__logo {
        width: 150px;
        height: 20px;
        padding-left: 35px;
    }

    .header__home-btn {
        line-height: 18px;
    }

    .header__signin {
        line-height: 18px;
        height: 50px;
        width: 130px;
    }
}

@media screen and (max-width: 520px) {
    .header__logo {
        padding-left: 15px;
    }
}

@media screen and (max-width: 420px) {
    .header__logo {
        max-width: 100px;
        max-height: 20px;
    }

    .header__home-btn {
        font-size: 18px;
        line-height: 22px;
    }

    .header__signin {
        height: 35px;
        width: 100px;
    }
}

@media screen and (max-width: 645px) {
    .header {
        height: 190px;
        padding-bottom: 10px;
    }

    .header__logo {
        padding-left: 0px;
    }

    .header__right-column {
        margin-top: 20px;
        flex-direction: column;
        gap: 15px;
        padding: 0px;
    }

    .header__home-btn {
        border: none;
    }

    .header__saved-article {
        border: none;
    }
}